.bar-ce {
  font-family: monospace;
  white-space: pre;
  border: 1px solid #ccc;
  padding: 5px;

  .unknown {
    color: #f00;
  }

  .punctuation {
    color: #0f0;
  }

  .word {
    color: #00f;
  }

  .whitespace {
    background-color: #f6f6f6;
  }

  .input {
    background-color: yellow;
  }

}


