<div class="bar-ce" contenteditable="true" (keydown)="onKeydown($event)" (keyup)="onKeypress($event)" (click)="onClick()" #editableContent></div>

<div class="dropdown" *ngIf="activeToken && activeToken.conf.valueSource">
  <app-value-list-ce
    [token]="activeToken"
    [statement]="activeStatement"
    [keyboardEvents]="keyboardEvents"
    [filter]="activeToken.token"
    (onValue)="updateActiveTokenValue($event)">
  </app-value-list-ce>
</div>

<pre>
  caret: {{caretPos}}
  total length: {{contentLength}}
</pre>

<pre>
current token:
{{activeToken | json}}
</pre>

<pre>
tokens:
  {{statements | json}}
</pre>




