<div class="value-list" *ngIf="values.length > 0 || valueSource">
  <div class="value" *ngFor="let value of values; let i = index;" (click)="select(value)" [ngClass]="{'active': i === selectedValue}">
    <div class="title" >
      <span class="icon" *ngIf="value.icon">{{value.icon}}</span>
      <span class="label">{{value.label || value.value}}</span>
    </div>
    <div class="help" *ngIf="value.helpText">
    {{value.helpText}}
    </div>
  </div>
  <div class="paging" *ngIf="paging && this.valueSource">
    <div class="left" (click)="pageBack()">BACK</div>
    <div class="cur"></div>
    <div class="left" (click)="pageForward()">FORWARD</div>
  </div>
  <div *ngIf="values.length === 0 && valueSource">No values</div>
</div>
