.value-list {

  position: absolute;
  background-color: #fff;
  margin-top: 15px;
  min-width: 280px;
  max-height: 312px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  .value {
    padding: 10px;

    &:hover, &.active {
       background-color: #f8f8f8;
     }
    .title {
      font-weight: bold;
      .icon {
        margin: 5px 10px 5px 0px;
      }
    }
    .help {
      font-size: 0.8em;
      color: #666;
    }
  }
}
