<div class="filterbar-container" [ngClass]="{'focus': (state !== states.IDLE)}">
  <div class="history"></div>
  <div class="input-container">
    <div class="selected">

      <div class="item" *ngFor="let itm of selected; let i = index;">
        <span class="label">{{ itm.conf.label }}</span>
        <span class="comparison">{{ itm.conf.comparison }}</span>
        <span class="values">{{ itm.displayValue() }}</span>
        <span class="close" (click)="removeSelected(i)">&#10006;</span>
      </div>

      <div class="item" *ngIf="pending" [ngSwitch]="pending.conf.kind">
        <span class="label">{{ pending.conf.label }}</span>
        <span class="comparison">{{ pending.comparison }}</span>
      </div>

    </div>
    <div class="input">
      <input #primaryInput (focus)="onFocus()" (keyup)="onKeypress($event.code)" />

      <!-- MAKE THIS A NEW COMPONENT THAT CAN FILTER/SELECT WITH KEY EVENTS VIA INPUT -->
      <div class="selectables" *ngIf="state === states.SELECTING">
        <div class="item" *ngFor="let conf of configs;" (click)="preSelect(conf)">
          <div class="title">
            <span class="icon" *ngIf="conf.icon">{{conf.icon}}</span>
            <span class="label">{{conf.label}}</span>
          </div>
          <div class="help" *ngIf="conf.helpText">
            {{conf.helpText}}
          </div>
        </div>
      </div>

    </div>
    <div class="clear">
      &#10006;
    </div>

  </div>
</div>
